@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jetbrains-mono);
  --font-mono: var(--font-jetbrains-mono);

  /* Custom gray-850 for parent boxes */
  --color-gray-850: rgb(24 24 27);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace;
}
